<form action="/atendimentos" method="POST">
    <input name="nomeCliente" placeholder="Nome" />
    <input name="telefone" placeholder="Telefone" />
    
    <input type="date" name="data" />
    <input type="time" name="horario" />

    <input name="profissional" placeholder="Profissional" />

    <select name="tipoServico">
        <option value="corte">Corte</option>
        <option value="barba">Barba</option>
        <option value="sobrancelha">Sobrancelha</option>
    </select>

    <button type="submit">Salvar</button>
</form>