<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <form action="">
            <h1>Cadastro de Usuário</h1>
            
            <div class="form-group">
                <label for="username">Nome de usuário</label>
                <input type="text" id="username" placeholder="Digite o nome de usuário">
            </div>
            
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" id="email" placeholder="Digite o e-mail">
            </div>
            
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" placeholder="Digite a senha">
            </div>
            
            <div class="mt-20">
                <button id="btnCadastrarUsuario" type="submit" class="btn btn-primary btn-block">Cadastrar</button>
            </div>
        </form>
    </div>
</body>
<script>
    const btnCadastrarUsuario = document.getElementById("btnCadastrarUsuario")
    btnCadastrarUsuario.addEventListener("click", CadastrarUsuario)

    async function CadastrarUsuario(e)
    {
        e.preventDefault()

        const username = document.getElementById("username")
        const email = document.getElementById("email")
        const senha = document.getElementById("senha")
        
        const url = "/user/create"
        const response = await fetch(url, 
        {
            method: "POST",
            headers: 
            {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(
                {
                    username: username.value,
                    email: email.value,
                    senha: senha.value
                }
            ),
        })
        const data = await response.json()
        
        if(!response.ok)
        {
            console.log("Erro ao cadastrar usuario")
        }
    }
</script>
</html>