<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <form action="">
            <h1>Edição de Usuário</h1>
            
            <input value="<%= usuario.id %>" type="text" id="usuarioid" hidden>
            
            <div class="form-group">
                <label for="username">Nome de usuário</label>
                <input value="<%= usuario.username %>" type="text" id="username" placeholder="Digite o nome de usuário">
            </div>
            
            <div class="form-group">
                <label for="email">E-mail</label>
                <input value="<%= usuario.email %>" type="email" id="email" placeholder="Digite o e-mail">
            </div>
            
            <div class="form-group">
                <label for="senha">Nova senha</label>
                <input type="password" id="senha" placeholder="Digite a nova senha">
            </div>
            
            <div class="mt-20">
                <button id="btnEditarUsuario" type="submit" class="btn btn-primary btn-block">Salvar Alterações</button>
            </div>
        </form>
    </div>
</body>
<script>
    const btnEditarUsuario = document.getElementById("btnEditarUsuario")
    btnEditarUsuario.addEventListener("click", EditarUsuario)

    async function EditarUsuario(e)
    {
        e.preventDefault()

        const id = document.getElementById("usuarioid")
        const username = document.getElementById("username")
        const email = document.getElementById("email")
        const senha = document.getElementById("senha")
        
        const url = "/user/edit"
        const response = await fetch(url, 
        {
            method: "PUT",
            headers: 
            {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(
                {
                    id: id.value,
                    username: username.value,
                    email: email.value,
                    senha: senha.value
                }
            ),
        })
        const data = await response.json()
        
        if(!response.ok)
        {
            console.log("Erro ao editar usuario")
        }
        console.log(data)
    }
</script>
</html>